.button-contact {
    padding: 0.8em 1.8em;
    border: 2px solid #6ee7b7;
    width: 14rem;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #6ee7b7;
   }
   
   .button-contact::before {
    content: '';
    width: 0;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #6ee7b7;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .button-contact:hover::before {
    width: 105%;
   }
   
   .button-contact:hover {
    color: #fff;
    border: 2px solid #fff;
   }
   