.container {
    --background: linear-gradient(to left, #6ee7b7 0%, #6ee7b7 50%);
    width: 310px;
    height: 324px;
    padding: 4px;
    border-radius: 5px;
    overflow: visible;
    display: flex;
    align-items: center;
    background: var(--background);
    position: relative;
  }
  
  .container .box {
    position: relative;
    width: 310px;
    height: 314px;
    background: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .container .box .content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  

  